html, body {
  font-size: 100%;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  color: #0C1826;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;  box-sizing: border-box;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: calc(1.8em + 1.8vw);
	letter-spacing: 0.06em;
	line-height: 1.5em;
	background: -webkit-gradient(linear, left top, right top, from(#f90760), color-stop(#a107f9), color-stop(#f907d9), to(#ffec21));
	background: -o-linear-gradient(left, #f90760, #a107f9, #f907d9, #ffec21);
	background: linear-gradient(to right, #f90760, #a107f9, #f907d9, #ffec21);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.8em;
/*	letter-spacing: .05em;*/
	font-weight: 900;
	line-height: 1.6em;
}

.centered-text {
	text-align: center;
}

h3 {
	font-size: 1.25em;
	letter-spacing: .1em;
	line-height: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
}

h4 {
	font-size: 1em;
	letter-spacing: .1rem;
	line-height: 2rem;
	font-weight: 800;
	text-transform: uppercase;
}

h5 {
	font-size: 1em;
	font-weight: 600;
  letter-spacing: .05em;
}

p {
	font-size: 1.125em;
	letter-spacing: .03em;
	line-height: 1.6em;
  font-weight: 400;
}

a {
	color: #a107f9;
	letter-spacing: .12em;
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	color: #ffec21;
	font-weight: 800;
	text-decoration: underline;
}


.block h4 {
	text-align: left;
}


h5 small {
	font-size: .8rem;
	letter-spacing: .1rem;
	font-weight: 400;
}

/*i {
	font-size: .9em;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 2em;
}*/


section {
  width: 100vw;
  height: auto;
}


.cv-intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.small-arrow-down {
  padding: 10px 30px;
	margin-top: 25px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
}

.small-arrow {
	width: 2px;
	height: 40px;
	background-color: #0e83ea;
	position: relative;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.small-arrow:after,
.small-arrow:before {
	content: "";
	width: 100%;
	height: 30%;
	position: absolute;
  bottom: 0;
	background-color: #0e83ea;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	transform-origin: bottom center;
}

.small-arrow:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.small-arrow-down:hover .small-arrow,
.small-arrow-down:hover .small-arrow:after,
.small-arrow-down:hover .small-arrow:before {
	background-color: #F3425E;
}

.small-arrow-down:hover h5 {
	color: #F3425E;
}

.small-arrow-down:hover .small-arrow {
	-webkit-transform: scaleY(.8);
	-ms-transform: scaleY(.8);
	transform: scaleY(.8);
}

.small-arrow-down:hover .small-arrow:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.small-arrow-down:hover .small-arrow:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}




/* ----------------------------------------- */

.cv-contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}
  .blocks {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }
    .block {
      width: 40%;
      min-width: 300px;
      margin: 25px;
    }

#highlights {
  background-color: #2A2F36;
}
  #highlights h3 {
    color: #fcfcfc;
  }
  #highlights .block {
    color: #f7f7f7;
  }





/*#languages {
  width: calc(80% + 50px);
}*/










/* ----------------------------------------- */

#timeline {
  background-color: #f5f8fa;
}
.timeline {
  margin: 4% auto;
  width: 80%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .event {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
  }

    .year {
      width: 50%;
      text-align: right;
    }
    .time-mark {
      width: 10px;
      height: 10px;
      min-width: 10px;
      min-height: 10px;
      border-radius: 50%;
      background-color: rgb(246, 108, 56);
      margin: 5px 10px 0;
      z-index: 100;
    }
        #tm-skills {background-color: #24E199;}

      .tl-line {
        width: 1px;
        height: 100%;
        background-color: #c0c6cf;
        position: absolute;
        left: 50%;
        top: 5px;
        z-index: 0;
      }

    .achievemnents {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
              align-items: flex-start;
    }
     h6 {
        margin: 0;
        font-size: .9rem;
        letter-spacing: .07rem;
        line-height: 1.4rem;
      }
      .achievemnents ul {
        padding-left: 20px;
        list-style-type: disc;
        line-height: 1.5rem;
      }
        .achievemnents ul li, .year {
          font-size: .85rem;
          letter-spacing: .05rem;
          font-weight: 400;
        }
      .achievemnents div, .achievemnents {
        margin-bottom: 12px;
      }











          /* ----------------  svg welcome animation -------------- */

          #wc-text_1 {
            visibility: hidden;
          }






/* --------------------------------------------------------------------------------           */
@media screen and (max-width: 700px) {
  .block {
    width: 80%;
  }
}
