/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


/* Global Styles */

html,
body {
	font-size: 100%;
	font-family: 'Titillium Web', sans-serif;
	color: #556B87;
	height: auto;
	width: 100vw;
	margin: 0;
	scrollbar-width: none;
}

body {
	-ms-touch-action: none;
	touch-action: none;
}


/* optional for touch/pointer events */




.loading-wrapper {
	position: fixed;
	z-index: 10005;
	width: 100vw;
	height: 100vh;
	background-color: #E7EBEE;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.loading-wrapper .animated-icon svg {
	overflow: visible;
	filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.3));
}


/* Hamburger menu styling */

.menu {
	position: fixed;
	top: 25px;
	left: 25px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	z-index: 10000;
}

	.menu 
		.bar1,
		.bar2,
		.bar3 {
			width: 2px;
			position: absolute;
			background-color: #556B87;
			box-shadow: 0px 3px 4px rgba(255, 255, 255, 0.3),
				          0px 3px 4px rgba(0, 0, 0, 0.3);
	}

	.menu 
		.bar1,
		.bar3 {
			height: 20px;
		}

		.menu .bar2 {
			height: 37px;
		}
			.menu:hover {
				scale: 1.1;
			}
			.menu:active {
				opacity: .5;
				scale: .9;
			}

.closeMenu {
	position: absolute;
	float: left;
	top: 25px;
	left: 25px;
	cursor: pointer;
	width: 32px;
	height: 32px;
	background-color: rgba(85, 107, 135, .7);
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.closeBar1,
.closeBar2 {
	width: 24px;
	height: 2px;
	background-color: #E7EBEE;
	position: absolute;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.closeMenu:hover {
	background-color: rgba(9, 9, 9, 1);
	box-shadow: 2px 4px 12px rgba(0, 0, 0, .6);
	scale: 1.1;
}
	.closeMenu:active {
		background-color: rgba(9, 9, 9, .7);
		box-shadow: 0px 2px 6px rgba(0, 0, 0, .4);
		scale: 1;
	}

.closeMenu:hover .closeBar1,
.closeMenu:hover .closeBar2 {
	background-color: #f3425e;
}

.background {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	z-index: -1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #090909;
}

.whales {
	height: auto;
	width: 50%;
	overflow: visible;
	position: absolute;
}
#myWhale_1 {
	top: 0;
	left: 0;
}
#myWhale_2 {
	bottom: 0;
	right: 0;
}


/* Section Bullets */

#bullets {
	position: fixed;
	right: 25px;
	bottom: 35%;
	height: auto;
	z-index: 9999;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.bullet {
	position: relative;
	width: 3px;
	height: 10px;
	background: #8C9BAF;
	margin: 3px auto;
	opacity: .7;
	text-align: center;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.bullet:hover,
.bullet.mPS2id-highlight {
	opacity: 1;
	width: 3px;
	height: 20px;
	background: #F3425E;
}


/* Overlay Menu Navigation */

.overlay {
	width: 100vw;
	height: 100vh;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	border-radius: 50% 50% 0 0;
	opacity: 0;
	position: fixed;
	z-index: 10001;
	bottom: 0;
	overflow-x: hidden;
	background-color: #E7EBEE;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.overlay .menu-items ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 500%;
}

.overlay .menu-items ul li a {
	color: #556B87;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: calc(2rem + .7vw);
	letter-spacing: .14rem;
	position: relative;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}

.overlay .menu-items ul li a:after,
.overlay .menu-items ul li a:before {
	content: "";
	height: 1px;
	width: 25%;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	background-color: #F3425E;
	position: absolute;
	top: 50%;
	-webkit-transition: .8s ease-out;
	-o-transition: .8s ease-out;
	transition: .8s ease-out;
	-webkit-transition-delay: .10s;
	-o-transition-delay: .10s;
	transition-delay: .10s;
}

.overlay .menu-items ul li a:after {
	left: 110%;
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
}

.overlay .menu-items ul li a:before {
	right: 110%;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
}

.overlay .menu-items ul li a:hover {
	color: #F3425E;
	opacity: 1;
	letter-spacing: .9rem;
}

.overlay .menu-items ul li a:hover:after,
.overlay .menu-items ul li a:hover:before {
	opacity: 1;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.menu-items_highlight {
	font-size: calc(2rem + .7vw);
	letter-spacing: .14rem;
	color: #F3425E;
	opacity: 1;
	font-weight: 800;
	cursor: default;
}

::-webkit-scrollbar {
	display: none;
}


/* ----------------------------------- Page contents (Global) ----------------------------------------- */

a.CTAarrow {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.CTAarrow .arrow-circles {
	display: inline;
	position: relative;
	top: 45px;
}

.CTAarrow svg.svg-circle {
	position: absolute;
	top: 0;
	left: 0;
	stroke-dasharray: 158;
	stroke-dashoffset: 158;
}

.CTAarrow .arrow-circle {
	border: 1px solid #8C9BAF;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	opacity: .3;
}

.arrow-down .arrow {
	width: 2px;
	height: 100px;
	background-color: #0e83ea;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	position: absolute;
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
}

.arrow-down .arrow:before,
.arrow-down .arrow:after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 2px;
	height: 15%;
	background-color: #0e83ea;
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	transform-origin: bottom center;
}

.arrow-down .arrow:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 1;
}

.arrow-down .arrow:after {
	opacity: 0;
}

.CTAarrow.arrow-down:hover .arrow {
	-webkit-transform: scaleY(.6);
	-ms-transform: scaleY(.6);
	transform: scaleY(.6);
	background-color: #f90760;
}

.CTAarrow.arrow-down:hover .arrow:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 1;
	background-color: #f90760;
}

.CTAarrow.arrow-down:hover .arrow:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #f90760;
}

.CTA-button {
	width: 188px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0;
	cursor: pointer;
}

svg.button-outline {
	display: inline;
	stroke-dasharray: 50 200;
	stroke-dashoffset: 95;
}

h6.CTA-label {
	display: inline;
	font-weight: 800;
	letter-spacing: .25em;
	text-transform: uppercase;
	color: #0e83ea;
}

.CTA-button:before {
	content: "";
	width: 178px;
	height: 42px;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	position: absolute;
	background-image: -o-linear-gradient(top left, #f90760, #0e83ea);
	background-image: -webkit-gradient(linear, left top, right bottom, from(#f90760), to(#0e83ea));
	background-image: linear-gradient(to bottom right, #f90760, #0e83ea);
	z-index: -1;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.CTA-button:hover:before {
	-webkit-animation: buttonGlare .4s;
	animation: buttonGlare .4s;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

@-webkit-keyframes buttonGlare {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 0;
	}
	50% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		-webkit-transform-origin: top;
		transform-origin: top;
	}
	51% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
	}
	100% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 0;
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
	}
}

@keyframes buttonGlare {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 0;
	}
	50% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		-webkit-transform-origin: top;
		transform-origin: top;
	}
	51% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
	}
	100% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 0;
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
	}
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: calc(1.8em + 1.8vw);
	letter-spacing: 0.06em;
	line-height: 1.5em;
	background: -webkit-gradient(linear, left top, right top, from(#f90760), color-stop(#a107f9), color-stop(#f907d9), to(#ffec21));
	background: -o-linear-gradient(left, #f90760, #a107f9, #f907d9, #ffec21);
	background: linear-gradient(to right, #f90760, #a107f9, #f907d9, #ffec21);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: calc(1.8em + 2vw);
	letter-spacing: .03em;
	font-weight: 900;
	line-height: 1.2em;
}

.centered-text {
	text-align: center;
}

h3 {
	font-size: 1.3em;
	letter-spacing: .5em;
	line-height: 1.5em;
	font-weight: 200;
	text-transform: uppercase;
	color: #556B87;
}

h5 {
	font-size: 1.2em;
	font-weight: 900;
	letter-spacing: .2rem;
	text-align: center;
}

p {
	font-size: 1.125em;
	letter-spacing: .06em;
	line-height: 1.6em;
	font-weight: 400;
}

strong {
	font-weight: 900;
}

a {
	color: #a107f9;
	letter-spacing: .12em;
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	color: #ffec21;
	font-weight: 900;
	text-decoration: none;
}




section {
	width: 100vw;
	height: 100vh;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: calc(25px + 5%);
}

section.flex-row {
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

section.flex-column {
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.scroll-icon {
	width: 1.7em;
	height: 2.6em;
	border: 2px solid #8C9BAF;
	display: inline-block;
	border-radius: 1em;
	overflow: hidden;
	box-sizing: border-box;
}
	.scroll-icon .scroll-wheel {
		width: .4em;
		height: .4em;
		background-color: #A922A7;
		border-radius: 100%;
		display: inherit;
		animation: scroll_1 2.5s ease-in-out infinite;
	}



@keyframes scroll_1 {
  0%   { transform: translateY(0); opacity: 1; background-color: #197FCD}
  25%  { background-color: #C00897}
  50%  { transform: translateY(0.7em); background-color: #FEB507}
  75%  { background-color: #FEB507}
  100% { transform: translateY(0); opacity: 1; background-color: #197FCD}
}


section.project {
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #E7EBEE;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
	.prj-hero_img, .project-description {
		box-sizing: border-box;
	}

.hero-overlay {
	width: 100%;
	height: 0;
	position: absolute;
	bottom: 0;
}

.full-prj-img {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0; left: 0;
	background-color: #E7EBEE;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 0;
	visibility: hidden;
	transform: translateY(20%);
	transform-origin: top;
}

.project-description {
	width: 50%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #E7EBEE;
	z-index: 1000;
}

.prj-des-contents {
	width: 75%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	margin: auto 5vw;
}


.project .prj-hero_img {
	width: 50%; height: 100%;
}


/* ----------------------------------- Customised contents ----------------------------------------- */

/*.in-out-el {
	visibility: hidden;
}*/


/* ----------------------------------------Intro Section--------------------------------------------- */

#home-intro {
	display: flex;
	flex-wrap: nowrap;
}


.opening_line {
	margin: 10px;
	padding: 10px;
	-ms-flex-item-align: end;
	align-self: flex-end;
	cursor: default;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

	#intro_text {
		font-size: calc(3em + 6vw);
/*		line-height: 1em;*/
		margin-bottom: 0;
	}
	#intro_sub_text {
		font-size: calc(1em + 1.2vw);
		margin-top: 0;
		font-weight: 200;
		letter-spacing: 1em;
		line-height: 1.5em;
		text-transform: uppercase;
		color: #556B87;
	}

#home-CTAarrow {
	margin: 10% 10% 60px 60px;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

#home-intro_2 {
	width: 65%;
	margin: auto;
}


/* ------------------------- */

#smiley-face {
	overflow: visible;
	margin-top: 30px;
}


/* ------------------------------------------ Heineken Intro-------------------------------------------------------- */
#prj-heineken .prj-hero_img {
	background-image: url("./Assets/Heineken_HomeMockup.png");
	background-color: #c2e5cf;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

/* ------------------------------------------ Schecker Intro-------------------------------------------------------- */

#prj-schecker .prj-hero_img {
	background-image: url("./Assets/home-schecker-mockups.png");
	background-color: #E0DFDF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}


/* ------------------------------------------ SA Intro -------------------------------------------------------- */

#prj-sa .prj-hero_img {
	background-image: url("./Assets/SA_HomeMockup.png");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ecb42a;
	background-size: 100%;
}


/* ------------------------------------------ Bardot Intro -------------------------------------------------------- */

#prj-bardot .prj-hero_img {
	background-image: url("./Assets/Bardot_HomeMockup.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #f0f0f0;
}

/* ------------------------------------------ Radio Rentals Intro -------------------------------------------------------- */

#prj-rr .prj-hero_img {
	background-image: url("./Assets/RR_HomeMockup.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
}



/* ------------------------------------------ More works & About section -------------------------------------------------------- */

#more-works {
	background-color: white;
}

	.big-link {
		max-width: 90%;
		text-align: center;
		margin: 4% auto;
		position: relative;
}
	.big-link:after {
		content: "";
		width: 50%;
		height: 2px;
		background-color: #a107f9;
		position: absolute;
		left: 25%;
		transform-origin: center;
		transition: .5s;
	}
		.big-link:hover:after {
			background-color: #ffec21;
			width: 100%;
			height: 2px;
			left: 0;
			border: 0;
		}

		.logos {
			width: 100%;
			height: 100%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
			.logo {
				width: 10%;
				max-width: 150px;
				height: auto;
				max-height: 150px;
				margin: 2%;
				visibility: hidden;
			}


@keyframes dynamicGradientText {
	0% { background-size: 200% 100%;
		 background-position: 0% 0; }
	25% { background-size: 200% 100%;
		 background-position: 100% 0; }
	50% { background-size: 200% 100%;
		  background-position: 0% 0; }
	75% { background-size: 200% 100%;
		  background-position: 100% 0; }
	100% { background-size: 200% 100%;
		   background-position: 0% 0; }
}


	.colorful-link h1 {
		animation: dynamicGradientText 8s linear infinite;
	}







/* ----------------------------------------------------------------------------------------------- */


@media screen and (max-width: 780px) {

	section.flex-row {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		flex-direction: column;
		justify-content: center;
	}
	#intro_text {
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		width: 100%;
		margin: auto;
	}
	#home-CTAarrow {
		-ms-flex-item-align: auto;
		-ms-grid-row-align: auto;
		align-self: auto;
	}
	.whales {
		width: 100%;
		margin-left: 0;
	}
}


@media screen and (max-width: 480px) {
	
	.in-out-el {
	visibility: visible;
}

	section.project {
		flex-flow: column;
		overflow-y: auto;
	}
		.project .prj-hero_img {
			width: 100%;
		}
		.project-description {
			width: 100%;
			height: auto;
		}
			.prj-des-contents {
				width: 80%;
			}
		.overlay {
			border-radius: 5em 5em 0 0;
		}
}
