html, body {
  font-size: 100%;
  font-family: 'Fira Sans', 'Trebuchet MS', Helvetica, sans-serif;
  color: white;
  color: #2A2F36;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

a {
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0.1rem;
  color: #F3425E;
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
}

a.freepik-credits {
  margin-top: 30px;
  text-decoration: none;
  font-weight: 200;
  font-size: .7rem;
  letter-spacing: .05rem;
  color: #8C9BAF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

p {
  font-size: 1rem;
  letter-spacing: .05rem;
  font-weight: 400;
  line-height: 2rem;
}

p strong {
  font-size: .95rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: calc(1.3rem + 1vw);
  letter-spacing: .15rem;
  line-height: 2.5rem;
}

h3 {
  color: #8C9BAF;
  font-weight: 200;
  letter-spacing: .8em;
  text-align: center;
  line-height: 2em;
}

h4 {
  letter-spacing: .1rem;
  line-height: 2rem;
}

h5 {
    letter-spacing: .5rem;
    font-weight: 900;
    line-height: 2rem;
  }

h6 {
  letter-spacing: .1rem;
}

h6.CTA-label {
  font-weight: 900;
  color: #F3425E;
  letter-spacing: .25em;
}

i {
  font-size: .9em;
  font-weight: 200;
  letter-spacing: .1em;
  line-height: 2em;
}

a.back-to-home {
  position: fixed;
  top: 25px;
  left: 25px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  z-index: 1000;
}
    .simple-arrow {
      width: 60px;
      height: 1px;
      background-color: #F3425E;
      transition: .2s ease-in-out;
    }
        .simple-arrow:before,
        .simple-arrow:after {
          content: "";
          width: 10px;
          height: 1px;
          background-color: #F3425E;
          position: absolute;
          left: 0;
        }
          .simple-arrow:before {
            transform: rotate(-45deg);
            transform-origin: left;
          }
          .simple-arrow:after {
            transform: rotate(45deg);
            transform-origin: left;
          }

    .back-to-home h6.CTA-label {
      display: inline;
      margin: auto 10px;
    }

  .back-to-home:hover .simple-arrow {
    width: 30px;
  }


a.invision-CTA {
  position: fixed;
  top: 25px;
  right: 25px;
  display: inline;
  text-decoration: none;
  z-index: 1000;
}

  img.invision-icon {
    width: 70px;
    transition: .5s;
  }

      a.invision-CTA:hover img.invision-icon {
        transform: scale(1.15);
      }

section {
  width: 100vw;
  margin-bottom: calc(40px + 5%);
}

  section h3 {
    margin: 5% auto;
  }

  .wrapper {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 25px;
  }
  .wrapper.odd {
    flex-wrap: wrap-reverse;
  }


  .bg-img {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
      #mpf-bg {
        background-image: url("./Assets/mpf-introBG.png");
      }


  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    min-width: 320px;
    height: auto;
    margin: 5% auto;
  }
  .no-text-block {
    align-items: center;
  }




          a.cta-w-label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            width: 250px;
          }
              .cta-w-label h6.CTA-label {
                margin-right: 35px;
              }

              .CTAarrow {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
              }

               .CTAarrow .arrow-circles {
                display: inline;
                position: relative;
                left: 45px;
              }
                  .CTAarrow svg.svg-circle {
                    position: absolute;
                    top: 0;
                    right: 0;
                    stroke-dasharray: 158;
                    stroke-dashoffset: 158;
                  }

                  .CTAarrow .arrow-circle {
                    border: 1px solid #8C9BAF;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    opacity: .3;
                  }

                  .arrow-next .arrow {
                    width: 100px;
                    height: 1px;
                    background-color: #F3425E;
                    -webkit-transition: 1s;
                    -o-transition: 1s;
                    transition: 1s;
                    position: absolute;
                    -webkit-transform-origin: right;
                        -ms-transform-origin: right;
                            transform-origin: right;
                  }
                      .arrow-next .arrow:before,
                      .arrow-next .arrow:after {
                        content: "";
                        position: absolute;
                        right: 0;
                        height: 1px;
                        width: 15%;
                        background-color: #F3425E;
                        -webkit-transition: .5s ease-in-out;
                        -o-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        -webkit-transform-origin: right center;
                            -ms-transform-origin: right center;
                                transform-origin: right center;
                      }
                      .arrow-next .arrow:before {
                        -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                        opacity: 1;
                      }
                      .arrow-next .arrow:after {
                        opacity: 0;
                      }

                      a.cta-w-label:hover .arrow {
                        -webkit-transform: scaleX(.6);
                            -ms-transform: scaleX(.6);
                                transform: scaleX(.6);
                      }
                      a.cta-w-label:hover .arrow:before {
                        -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                      }
                      a.cta-w-label:hover .arrow:after {
                        -webkit-transform: rotate(45deg) ;
                            -ms-transform: rotate(45deg) ;
                                transform: rotate(45deg) ;
                        opacity: 1;
                      }
                      a.cta-w-label:hover {
                        text-decoration: none;
                      }

footer {
  position: relative;
  z-index: 1000;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #EBEEF3;
}
    .copyright {
      color: #8C9BAF;
      letter-spacing: .1em;
      font-size: .7em;
    }
    .footer-links {text-align: right;}
    .footer-links a {
      color: #8C9BAF;
      letter-spacing: .1em;
      font-size: .8em;
      font-weight: 700;
      text-align: right;
      margin-left: 25px;
    }
      .footer-links a:hover {
        color: #F3425E;
      }

/* -------------------- Schecker How it works block ------------------------ */

  .hiw.input {
    display: inline-block;
    border-bottom: solid 1px #E2E2E2;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    margin-top: 10%;
    color: #8C9BAF;
  }

      .hiw.input i.fas.fa-search {
        font-size: 1.5em;
        margin-right: 5px;
      }
      .hiw.input span.text-field {
        font-size: 1.5em;
        font-weight: 100;
        opacity: .4;
      }
      .hiw-text-animation {
        font-size: 1.5em;
        font-weight: 400;
        opacity: 1;
      }

      .hiw.result {
        -ms-flex-item-align: start;
            align-self: flex-start;
        color: #8C9BAF;
      }

      .hiw.result .progress-bar {
        margin: 40px 0 20px;
      }
          .hiw.result .progress-bar .bar {
            height: 2px;
            width: 280px;
            background-color: #F3425E;
            position: relative;
          }
              .hiw.result .progress-bar .bar:before,
              .hiw.result .progress-bar .bar:after {
                content: "";
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #F3425E;
                position: absolute;
                top: -150%;
              }
              .hiw.result .progress-bar .bar:before {
                left: 0;
              }
              .hiw.result .progress-bar .bar:after {
                left: 100%;
              }

        .hiw.result .result-text {
          font-size: 1.2em;
          font-weight: 700;
          letter-spacing: .1em;
        }

    .hiw.book {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }

        .hiw.book svg {
          width: 100px;
        }


    .hiw.watch svg{
      width: 100%;
    }

    .only-text-blocks {
      width: 100%;
      -webkit-columns: 2 340px;
              columns: 2 340px;
      -webkit-column-gap: 0;
              column-gap: 0;
    }

    .only-text-blocks .block {
      -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
    }




/* ---------------------------------------- Project Intro Section ------------------------------------------ */


section.project-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .project-intro .block {
    margin: 0 auto;
  }

    .project-hero-img {
      width: 100%;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #schecker-hero img {
      width: 55%;
      min-width: 320px;
      height: auto;
      margin-top: 10%;
    }

    #schecker-hero {
      position: relative;
    }
    #schecker-hero:before {
      content: "";
      width: 100%;
      height: 220px;
      background-color: #e0dfdf;
      position: absolute;
      bottom: 0;
      z-index: -1000;
    }

    #schecker-intro {
      background-color: #e0dfdf;
      padding-top: 10%;
      padding-bottom: 5%;
    }

section#schecker-draggable-flow {
  background-color: #e0dfdf;
  width: auto;
  height: 700px;
  padding-top: 1%;
}


#schecker-viewInvisionCTA {
  display: none;
}






/* ----------------------------------- my plastic footprint ------------------------------------- */

.mpf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


img.mpf-hiw-img {
  width: 90%;
}

    #mpf_home-illustration {
      margin-top: 20%;
    }

    #mpf_goal-icons {
      width: 30%;
    }





/* ----------------------------- scroll slide in ---------------------------------- */

.come-in {
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-animation: come-in 1s ease forwards;
          animation: come-in 1s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

@-webkit-keyframes come-in {
  to {-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes come-in {
  to {-webkit-transform: translateY(0);transform: translateY(0);}
}

.already-visible {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: none;
          animation: none;
}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 731px) {

  .block {
    width: 100%;
  }


      #mpf_home-illustration {
        margin-top: 0;
      }

footer {
  justify-content: center;
}
  .footer-links {
    margin-top: 25px;
    text-align: center;
  }
    .footer-links a {
      text-align: center;
    }

}

/* ------------------------------------------------------------------------------------ */



@media screen and (max-width: 375px) {


}

@media screen and (max-width: 320px) {
  .hiw.input span.text-field {
    font-size: 1.3em;
  }
  .hiw-text-animation {
    font-size: 1.3em;
  }

  #schecker-viewInvision {
    display: none;
  }

  #schecker-viewInvisionCTA {
    display: flex;
    width: 280px;
    height: 60px;
    border: solid 1px red;
    align-items: center;
    justify-content: center;
  }
}
