html, body {
  font-size: 100%;
  font-family: 'Fira Sans', 'Trebuchet MS', Helvetica, sans-serif;
  color: white;
  color: #2A2F36;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;  box-sizing: border-box;
}

a {
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0.1rem;
  color: #F3425E;
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
}

p {
  font-size: 1rem;
  letter-spacing: .05rem;
  font-weight: 400;
  line-height: 2rem;
}

p strong {
  font-size: .95rem;
}

h1 {
  font-size: calc(2.5rem + 2.5vw);
  letter-spacing: .2rem;
}

h2 {
  font-size: calc(1.3rem + 1vw);
  letter-spacing: .15rem;
  line-height: 2.5rem;
}

h3 {
  color: #8C9BAF;
  font-weight: 200;
  letter-spacing: .8em;
  text-align: center;
  line-height: 2em;
  text-transform: uppercase;
}

.leading-line {
  width: 1px;
  height: 90vh;
  background-color: black;
  margin: 5% auto;
}

h4 {
  letter-spacing: .1rem;
  line-height: 2rem;
}

h5 {
    letter-spacing: .5rem;
    font-weight: 900;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
  h5 small {
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: 200;
  }
  .block h5 {
    text-align: left;
  }

h6 {
  letter-spacing: .1rem;
}

h6.CTA-label {
  font-weight: 900;
  color: #F3425E;
  letter-spacing: .25em;
}

i {
  font-size: .9em;
  font-weight: 200;
  letter-spacing: .1em;
  line-height: 2em;
}


.menu {
  position: fixed;
  top: 25px;
  left: 25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 10001;
}

    .menu .bar1, .bar2, .bar3 {
        width: 2px;
        position: absolute;
        background-color: #8C9BAF;
      }

    .menu .bar1, .bar3 {
      height: 20px;
    }

    .menu .bar2 {
      height: 37px;
    }




                /* Menu Button on click Animation*/
                .open .bar1 {
                  -webkit-animation: open-menu-bar1 0.8s ease-in-out;
                          animation: open-menu-bar1 0.8s ease-in-out;
                  -webkit-animation-fill-mode: forwards;
                          animation-fill-mode: forwards;
                  -webkit-transform-origin: top center;
                      -ms-transform-origin: top center;
                          transform-origin: top center;
                }
                .open .bar2 {
                  -webkit-animation: open-menu-bar2 0.4s ease-out;
                          animation: open-menu-bar2 0.4s ease-out;
                  -webkit-animation-fill-mode: forwards;
                          animation-fill-mode: forwards;
                }
                .open .bar3 {
                  -webkit-animation: open-menu-bar3 0.8s ease-in-out;
                          animation: open-menu-bar3 0.8s ease-in-out;
                  -webkit-animation-fill-mode: forwards;
                          animation-fill-mode: forwards;
                  -webkit-transform-origin: top center;
                      -ms-transform-origin: top center;
                          transform-origin: top center;
                }

                    @-webkit-keyframes open-menu-bar3 {
                      0% {-webkit-transform: translateX(25px);transform: translateX(25px);}
                      25% {-webkit-transform: translateX(31px) rotate(0deg);transform: translateX(31px) rotate(0deg);}
                      60% {-webkit-transform: translateX(19px) rotate(45deg);transform: translateX(19px) rotate(45deg);}
                      85% {-webkit-transform: translateX(27px) rotate(45deg);transform: translateX(27px) rotate(45deg); height: 37.2px;}
                      100% {-webkit-transform: translateX(25px) rotate(45deg);transform: translateX(25px) rotate(45deg); height: 37.2px;}
                    }

                    @keyframes open-menu-bar3 {
                      0% {-webkit-transform: translateX(25px);transform: translateX(25px);}
                      25% {-webkit-transform: translateX(31px) rotate(0deg);transform: translateX(31px) rotate(0deg);}
                      60% {-webkit-transform: translateX(19px) rotate(45deg);transform: translateX(19px) rotate(45deg);}
                      85% {-webkit-transform: translateX(27px) rotate(45deg);transform: translateX(27px) rotate(45deg); height: 37.2px;}
                      100% {-webkit-transform: translateX(25px) rotate(45deg);transform: translateX(25px) rotate(45deg); height: 37.2px;}
                    }

                    @-webkit-keyframes open-menu-bar2 {
                      0% {-webkit-transform: translateX(12px);transform: translateX(12px);}
                      25% {-webkit-transform: translateX(18px);transform: translateX(18px);}
                      60% {-webkit-transform: translateX(10px);transform: translateX(10px); opacity: 1;}
                      85% {-webkit-transform: translateX(16px);transform: translateX(16px);}
                      100% {-webkit-transform: translateX(12px);transform: translateX(12px); opacity: 0;}
                    }

                    @keyframes open-menu-bar2 {
                      0% {-webkit-transform: translateX(12px);transform: translateX(12px);}
                      25% {-webkit-transform: translateX(18px);transform: translateX(18px);}
                      60% {-webkit-transform: translateX(10px);transform: translateX(10px); opacity: 1;}
                      85% {-webkit-transform: translateX(16px);transform: translateX(16px);}
                      100% {-webkit-transform: translateX(12px);transform: translateX(12px); opacity: 0;}
                    }

                    @-webkit-keyframes open-menu-bar1 {
                      0% {-webkit-transform: translateX(0);transform: translateX(0);}
                      25% {-webkit-transform: translateX(8px) rotate(0deg);transform: translateX(8px) rotate(0deg);}
                      60% {-webkit-transform: translateX(-12px) rotate(-45deg);transform: translateX(-12px) rotate(-45deg);}
                      85% {-webkit-transform: translateX(2px) rotate(-45deg);transform: translateX(2px) rotate(-45deg); height: 37.2px;}
                      100% {-webkit-transform: translateX(-1px) rotate(-45deg);transform: translateX(-1px) rotate(-45deg); height: 37.2px;}
                    }

                    @keyframes open-menu-bar1 {
                      0% {-webkit-transform: translateX(0);transform: translateX(0);}
                      25% {-webkit-transform: translateX(8px) rotate(0deg);transform: translateX(8px) rotate(0deg);}
                      60% {-webkit-transform: translateX(-12px) rotate(-45deg);transform: translateX(-12px) rotate(-45deg);}
                      85% {-webkit-transform: translateX(2px) rotate(-45deg);transform: translateX(2px) rotate(-45deg); height: 37.2px;}
                      100% {-webkit-transform: translateX(-1px) rotate(-45deg);transform: translateX(-1px) rotate(-45deg); height: 37.2px;}
                    }


.overlay {
  width: 100vw;
  height: 100vh;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-x: hidden;
  background-color: #2A2F36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

      .overlay .menu-items ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 400%;
      }

      .overlay .menu-items ul li a {
        color: white;
        text-decoration: none;
        font-weight: 200;
        font-size: calc(1rem + .4vw);
        letter-spacing: .2rem;
        position: relative;
        -webkit-transition: .7s;
        -o-transition: .7s;
        transition: .7s;
      }

          .overlay .menu-items ul li a:after,
          .overlay .menu-items ul li a:before {
            content: "";
            height: 1px;
            width: 25%;
            -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                    transform: scaleX(0);
            background-color: #F3425E;
            position: absolute;
            top: 50%;
            opacity: 0;
            -webkit-transition: .8s ease-out;
            -o-transition: .8s ease-out;
            transition: .8s ease-out;
            -webkit-transition-delay: .10s;
                 -o-transition-delay: .10s;
                    transition-delay: .10s;
          }

            .overlay .menu-items ul li a:after {
              left: 110%;
              -webkit-transform-origin: left;
                  -ms-transform-origin: left;
                      transform-origin: left;
            }
            .overlay .menu-items ul li a:before{
              right: 110%;
              -webkit-transform-origin: right;
                  -ms-transform-origin: right;
                      transform-origin: right;
            }

      .overlay .menu-items ul li a.highlight {
        color: #F3425E;
        opacity: 1;
        font-weight: 900;
        cursor: default;
      }

      .overlay .menu-items ul li a:hover {
        color: #F3425E;
        opacity: 1;
        letter-spacing: .9rem;
        font-weight: 900;
      }
      .overlay .menu-items ul li a:hover:after,
      .overlay .menu-items ul li a:hover:before {
        opacity: 1;
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
      }

      .overlay i {
        color: white;
        position: absolute;
        top: 25px;
        right: 25px;
        color: white;
        font-weight: 200;
        letter-spacing: .2em;
        font-size: .8em;
        font-style: normal;
        cursor: text;
        opacity: .5;
      }
          .overlay i:hover {
            opacity: 1;
          }




section {
  width: 100%;
  margin-bottom: calc(40px + 5%);
  margin-top: calc(40px + 5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

  section.challenge {
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }

.project-intro {
  width: 100%;
  height: 100vh;
  margin-top: 0;
}

.project-hero {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4%;
}
    .hero-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    }

.intro-fullscreen-bg {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
 padding-top: calc(60px + 5%);
 padding-bottom: 5%;
}

  img.not-fullscreen-img {
    width: 92%;
    height: auto;
  }


  .wrapper {
    width: 100%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;flex-flow: row wrap;
    -webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 25px;
  }
  .wrapper.odd {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .big-col {
    -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
    width: 100%;
    margin: 10% auto;
  }
      .big-col img,
      .big-col video {
        width: 80%;
        height: auto;
      }


  .light-bg-f9f9f9 {
    background-color: #F9F9F9;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .big-col.light-bg-f9f9f9 {
    margin-top: 5%;
    margin-bottom: 0;
  }

  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    height: auto;
    margin: 5% auto;
  }

  .big-block {
    width: 60%;
  }

  .small-block {
    width: 20%;
  }
    .small-block h5,
    .small-block p {
      text-align: center;
    }

  .project-intro .block {
    margin: 0 auto;
  }


  .no-text-block {
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
  }

    .no-text-block img {
      width: 100%;
    }
  .no-margin-top {
    margin-top: 0;
  }
  .add-margin-bottom {
    margin-bottom: 5%;
  }


    img.appScreen,
    video.appScreen {
      width: 300px;
      height: auto;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    }
    .desktop-screen {
      height: auto;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    }
    .noShadow-img {
      width: 100%;
    }

          a.cta-w-label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            width: 250px;
          }
              .cta-w-label h6.CTA-label {
                margin-right: 35px;
              }

              .CTAarrow {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
              }

               .CTAarrow .arrow-circles {
                display: inline;
                position: relative;
                left: 45px;
              }
                  .CTAarrow svg.svg-circle {
                    position: absolute;
                    top: 0;
                    right: 0;
                    stroke-dasharray: 158;
                    stroke-dashoffset: 158;
                  }

                  .CTAarrow .arrow-circle {
                    border: 1px solid #8C9BAF;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    opacity: .3;
                  }

                  .arrow-next .arrow {
                    width: 100px;
                    height: 1px;
                    background-color: #F3425E;
                    -webkit-transition: 1s;
                    -o-transition: 1s;
                    transition: 1s;
                    position: absolute;
                    -webkit-transform-origin: right;
                        -ms-transform-origin: right;
                            transform-origin: right;
                  }
                      .arrow-next .arrow:before,
                      .arrow-next .arrow:after {
                        content: "";
                        position: absolute;
                        right: 0;
                        height: 1px;
                        width: 15%;
                        background-color: #F3425E;
                        -webkit-transition: .5s ease-in-out;
                        -o-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        -webkit-transform-origin: right center;
                            -ms-transform-origin: right center;
                                transform-origin: right center;
                      }
                      .arrow-next .arrow:before {
                        -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                        opacity: 1;
                      }
                      .arrow-next .arrow:after {
                        opacity: 0;
                      }

                      a.cta-w-label:hover .arrow {
                        -webkit-transform: scaleX(.6);
                            -ms-transform: scaleX(.6);
                                transform: scaleX(.6);
                      }
                      a.cta-w-label:hover .arrow:before {
                        -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                      }
                      a.cta-w-label:hover .arrow:after {
                        -webkit-transform: rotate(45deg) ;
                            -ms-transform: rotate(45deg) ;
                                transform: rotate(45deg) ;
                        opacity: 1;
                      }
                      a.cta-w-label:hover {
                        text-decoration: none;
                      }

.horizontal-divider {
  width: 60%;
  height: 1px;
  background-color: #D2DBE9;
  margin: 5% auto;
}


footer {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1000;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-sizing: border-box;box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
}
  .footer-top {
    width: 100%;
    height: auto;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #D2DBE9;
  }
    .footer-top-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
              justify-content: center;
    }
      .footer-top-links a {
        margin: 20px;
        font-size: 2em;
        font-weight: 100;
        color: black;
      }
      .footer-top-links a:hover {
        font-weight: 900;
      }
  .footer-bottom {
    width: 100%;
    height: auto;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #EBEEF3;
    -webkit-box-sizing: border-box;box-sizing: border-box;
  }
    .copyright {
      color: #8C9BAF;
      letter-spacing: .1em;
      font-size: .7em;
    }
    .footer-links {
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
              flex-flow: row wrap;
    }
    .footer-links a {
      color: #8C9BAF;
      letter-spacing: .1em;
      font-size: .8em;
      font-weight: 700;
      text-align: right;
      margin-left: 13px;
      margin-right: 13px;
    }
    .footer-links a:last-child {
      margin-right: 0;
    }
    .footer-links a:first-child {
      margin-left: 0;
    }
      .footer-links a:hover {
        color: #F3425E;
      }


/* ----------------------------------------------mouse scroll-------------------------------------------- */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
  z-index: 9000;
}

.mouse {
  height: 42px;
  width: 26px;
  border-radius: 18px;
  transform: none;
  border: 2px solid #8C9BAF;
  box-sizing: border-box;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid black;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; transform: translateY(0); }
  50%  { opacity: .5; transform: translateY(3px); }
  100% { opacity: 1; transform: translateY(6px); }
}




/* ---------------------------------------- Schecker ------------------------------------------ */

#schecker-hero {
  position: relative;
  margin-bottom: 0;
}

    #schecker-hero img {
      width: 55%;
      min-width: 290px;
      height: auto;
      margin-top: -3%;
    }


    #schecker-intro {
      background-color: #EFF3F4;
      padding-top: 4%;
      padding-bottom: 4%;
    }

#schecker-features {
  width: 80%;
  margin-top: calc(-40px - 5%);
}
  #schecker-hiw-section h3 {
    margin-bottom: 0;
  }
  .ic_schecker-feature {
    margin: calc(40px + 5%);
    position: relative;
  }
    .ic_schecker-feature img {
      height: 80px;
    }
      .ic_schecker-feature:after {
        content: "";
        position: absolute;
        text-align: center;
        top: calc(100% + 30px);
        left: -100%;
        width: 300%;
        text-align: center;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 700;
        letter-spacing: .15rem;
        line-height: 1.5rem;
      }
      #ic_check:after {
        content: "Symptom Assessment";
      }
      #ic_book:after {
        content: "Appointment Booking";
      }
      #ic_manage:after {
        content: "Symptoms & Medication tracking";
      }


#schecker-draggable-flow {
  width: 100%;
  height: 95vh;
  padding-top: 5%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  position: relative;
}


#schecker-viewInvision {
  margin-bottom: calc(60px + 5%);
}

#schecker-viewInvisionCTA {
  display: none;
}


/* ----------------------------------- courseworks stuff --------------------------------- */

#old-proj {
  padding: 7% 0;
}

.eachStuff {
  margin-bottom: calc(30px + 5%);
}

.oldStuff-proj-wrapper {
  width: 100vw;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.oldStuff-proj-wrapper.reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap-reverse;
          flex-flow: row wrap-reverse;
}
    .oldStuff-proj {
      width: 40%;
      height: auto;
      min-width: 300px;
      margin: 0 30px;
    }
    .oldStuff-proj video,
    .oldStuff-proj img {
      width: 100%;
      min-width: 300px;
      height: auto;
    }

    .flex-grow {
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
    }














/* ----------------------------------- my plastic footprint Intro------------------------------------- */

body#mpf {
  background-image: url("./Assets/mpf-bg.svg");
  background-size: contain;
  background-attachment: fixed;
}

section#mpf-intro {
    background-color: rgba(220, 220, 220, 0.93);
  }

  /* section#mpf-intro h2,
  section#mpf-intro p {
    color: white;
  } */

      img#mpf-cover {
        width: 100%;
        height: auto;
      }




/* ------------------------------------------- WishUp -------------------------------------------- */

#wishup-hero-img {
  background-image: url("./Assets/camper-campsite-car-753603.jpg");
  background-position: bottom;
}

section#wishup-why {
  background-image: url("./Assets/up-wallpaper.png");
  background-position: 10% 50%;
  background-size: 18%;
  background-color: #f8f8ff;
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 9%;
}
  section#wishup-why h3 {
    color: black;
  }
  section#wishup-why .block {
    margin-top: 0;
  }

  section#wishup-remember h3 {
    margin-bottom: 0;
  }



/* ------------------------------------------- Bardot -------------------------------------------- */

#bardot-hero-img {
  background-image: url("./Assets/BardotCampaign(5).jpg");
}

section#bardot-challenge {
  background-color: black;
}
  section#bardot-challenge h3 {
    margin-bottom: 0;
  }
  section#bardot-challenge p {
    color: #8C9BAF;
  }


    img#bardot-findStore-img {
      -webkit-box-shadow: none;box-shadow: none;
    }

section#bardot-screenCollage img {
  width: 100%;
  height: auto;
}

section#bardot-learnings h3 {
  margin-bottom: 0;
}



/* ------------------------------------------- Standards Australia --------------------------------------------- */

#sa-hero-img {
  background-image: url("./Assets/australia-2910680_1920.jpg");
}

section#sa-challenge {
  padding-top: 5%;
  background-color: #FFB500;
}
    #sa-challenge h3, #sa-challenge p {color: black;}
    #sa-challenge h3 {margin-bottom: 0;}

    #sa-info-m-img-block {
      margin-bottom: 0;
    }


/* ---------------------------------------------- credits ------------------------------------------------ */

section#credits p {
  text-align: center;
}

section#credits a {
  margin: 10px;
}


#thanks {
  padding: 0 25px;
  margin: 6% auto;
}

    #dogs {
      display: flex;
      flex-flow: row wrap;
      width: 90vw;
      height: auto;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 5%;
    }
      #dogs img {
        width: 200px;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
      }

  #thank-dogs {
    margin-top: 6%;
    width: 60%;
  }


/* ----------------------------- scroll slide in ---------------------------------- */

.come-in {
  -webkit-transform: translateY(80px);
      -ms-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-animation: come-in 1.5s ease forwards;
          animation: come-in 1.5s ease forwards;
  opacity: 0;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes come-in {
  to {-webkit-transform: translateY(0);transform: translateY(0);opacity: 1}
}

@keyframes come-in {
  to {-webkit-transform: translateY(0);transform: translateY(0); opacity: 1;}
}

.already-visible {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: none;
          animation: none;
  opacity: 1;
}

/* -------------------------------------------- media query ------------------------------------- */


@media screen and (max-width: 1024px) {

  .intro-fullscreen-bg {
    background-attachment: scroll;
  }

  .hero-img {
    background-attachment: scroll;
  }

      #schecker-hero {
        height: auto;
      }

          #schecker-hero img {
            width: 80%;
          }

          #schecker-hero:before {
            height: 100px;
          }
}



@media screen and (max-width: 768px) {

  .block {
    width: 100%;
  }

.big-col {
  width: 100%;
}
  .big-col img,
  .big-col video {
    width: 100%;
  }

.mouse_scroll { margin-top: 20%; }

.footer-bottom {
  flex-direction: column-reverse;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
  .footer-links {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
  }
    .footer-links a {
      text-align: center;
      margin-bottom: 25px;
    }

#thank-dogs {
  width: 95%;
}

#schecker-draggable-flow {
  height: 80vh;
}

section#wishup-why {
  background-position: 7% 10%;
}

    .oldStuff-proj {
      width: 100%;
      height: auto;
      min-width: 300px;
    }

}






/* ------------------------------------------------------------------------------------ */



@media screen and (max-width: 414px) {
  #schecker-viewInvision {
    display: none;
  }

  #schecker-viewInvisionCTA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    height: 60px;
    border: solid 1px red;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .block {
    margin: 10% auto;
  }

}

@media screen and (max-width: 320px) {
  .hiw.input span.text-field {
    font-size: 1.3em;
  }
  .hiw-text-animation {
    font-size: 1.3em;
  }

}
